name: Publish packages

on: workflow_dispatch
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: Generate new versions
        run: npx lerna version --exact --conventional-commits --no-private --conventional-graduate  -y --create-release github

      - name: Publish to npm
        run: npx lerna publish from-package -y --registry='https://registry.npmjs.org/'
