name: Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run setup
        uses: ./.github/actions/setup

      - id: check-changed-packages
        uses: ./.github/actions/check-changed-packages

      - id: resolve-since-flag
        if: ${{ steps.check-changed-packages.outputs.has_changed_packages == 'true' }}
        uses: ./.github/actions/resolve-lerna-since-flag

      - name: Test
        if: ${{ steps.check-changed-packages.outputs.has_changed_packages == 'true' }}
        shell: bash
        env:
          SINCE_FLAG: ${{ steps.resolve-since-flag.outputs.since_flag }}
        run: npx lerna run test $SINCE_FLAG --include-dependencies
